@model IEnumerable<DomainModel.Entities.Restourant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container-fluid">
    <div class="logbackground">
        <div class="container text-center">
            <div class="row wrap">
                <div class="ui-widget">
                    <form action="/Home/Search" method="post">
                        <div class="responsive searchbar">
                            <label class="searchbar-label" for="city">Find</label>
                            <input id="city" class="dropdown-toggle" placeholder="place, city">
                            <span>|</span>
                            <label class="searchbar-label" for="cuisine">Kitchen</label>
                            <input id="cuisine" class="dropdown-toggle" type="text" placeholder="type sushi, french...">
                            <button class="dropdown-toggle buttonGet" type="submit" value="submit"> Search </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        @foreach (var item in Model)
            {
            <div class="restorant-box text-center">
                <div class="thumbnail col-md-3 col-sm-2">
                    <div>

                        <a class="restorantList" href="/Search/Details/@item.Id">

                            @Html.DisplayFor(modelItem => item.Name)

                            <img src="~/Content/images/res.jpg" alt="">


                            <div id="rating">
                                <ul class="stars">
                                    @{
                                        var score = item.Reviews.Count > 0 ? item.Reviews.Average(x => x.Score) : 0;
                                    }
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (score >= i)
                                        {
                                            <li class="raiting-star active">★</li>
                                        }
                                        else
                                        {
                                            <li class="raiting-star">★</li>
                                        }
                                    }

                                </ul>
                            </div>
                            <div class="caption">
                                <p>
                                    @Html.DisplayFor(modelItem => item.Address.Neighborhood)
                                    @Html.DisplayFor(modelItem => item.Address.Street)
                                    @Html.DisplayFor(modelItem => item.Address.Number)
                                    @Html.DisplayFor(modelItem => item.Address.City)
                                    @Html.DisplayFor(modelItem => item.Address.Country)
                                </p>
                            </div>
                        </a>
                        @*@Html.ActionLink("see more", "Details", new { id = item.Id }) |*@
                    </div>
                </div>
            </div>
                                        }


    </div>
</div>


@section scripts {
    <script type="text/javascript" src="~/Scripts/geteat/home.js">

    </script>
}



