@model IEnumerable<DomainModel.Entities.Restourant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
  

@foreach (var item in Model) {
    <tr>
        <td>
            <img width="50" height="50" src="~/Content/images/res.jpg" /></td>
        <td>
            @Html.DisplayFor(modelItem => item.Organisation.Name)
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.Neighborhood)
            @Html.DisplayFor(modelItem => item.Address.Street)
            @Html.DisplayFor(modelItem => item.Address.Number)
            @Html.DisplayFor(modelItem => item.Address.City)
            @Html.DisplayFor(modelItem => item.Address.Country)         
        </td>
        <td>
            @item.Reviews.Sum(x => x.Score)
        </td>
        <td>
            @Html.ActionLink("see more", "Details", new { id=item.Id }) |
        </td>
        
    </tr>
}

</table>
