<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!--Top Nav bar-->
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
    <!--Top Nav bar-->
    <!--Daniela Navigation bar-->
    <div id="mayNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="#">
                    <a class="navbar-brand navbar-left responsive" href="file:///C:/Users/Daniela/Desktop/GetEat/GetEat/Views/Home.html#">
                        <img src="../images/logo.png" />
                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="file:///C:/Users/Daniela/Desktop/GetEat/GetEat/Views/RestorantsList.html#">Restaurants</a></li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle cuisineMenue navbar " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Cuisine
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#" data-value="italian">Italian</a></li>
                                <li><a href="#" data-value="french">French</a></li>
                                <li><a href="#" data-value="asian">Asian</a></li>
                                <li><a href="#" data-value="steaks grills">Steaks & Grills</a></li>
                                <li><a href="#" data-value="indian">Indian</a></li>
                                <li><a href="#" data-value="europian">Europian</a></li>
                                <li><a href="#" data-value="fish seafood">Fish & Seafood</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="col-sm-3 col-md-3">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Type a place" name="q">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="Registration.html">Sign in or Join</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Special events <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Weddings</a></li>
                            <li><a href="#">Private parties</a></li>
                            <li><a href="#">Birthday parties</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Business events</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--End Daniela Navigation bar-->

    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
        <footer>
            <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li><a href="Contact.html">Contact us</a></li>
                            <li><a href="#">Advertising campaign</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
