<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
     
    <header class="container-fluid">
        <div id="mayNavbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-header">

                    <a class="navbar-brand navbar-left responsive" href="~/Home/index">
                        <img class="responsive" src="~/Content/images/Logoo.png" />
                    </a>

                </div>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="header-nav-link" href="~/Home/index">Home</a></li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole(RoleNames.Customer))
                    {
                        <li>@Html.ActionLink("Organisation Profile", "Details", "Organisations", new { area = "Companies", id = SessionState.CurrentOrganisationId }, null)</li>
                        <li>@Html.ActionLink("My Restourants", "Index", "Restourants", new { area = "Companies", organisationId = SessionState.CurrentOrganisationId }, null)</li>

                    }
                    else if (User.Identity.IsAuthenticated && User.IsInRole(RoleNames.Adminstrator))
                    {
                        <li>@Html.ActionLink("Kitchens", "Index", "Kitchens", new { area = "Adminstrator" }, null)</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
               
            </div>
        </div>
    </header>

    <!--End Daniela Navigation bar-->
    @*<div class="container body-content">*@
    @RenderBody()
    @*<hr class="hidden"/>*@
    @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    <footer>
        <div class="responsive navbar footer" role="navigation">
            <div class="navbar-header">
                <ul class="nav navbar-nav ">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="../Home/Contact">Contact us</a></li>
                    
                </ul>
            </div>

        </div>
    </footer>
    @*</div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
