
@model DomainModel.Entities.Restourant

@{
    ViewBag.Title = "Delete";
}
<div class="companibkgr">
    <div class="row">
        <div class="transperant">
            <section class="col-sm-12 col-md-8 col-md-push-2 text-center center-content">
                    <h2 class="">Delete</h2>
                    <h3>Are you sure you want to delete this restourant?</h3>

                    <dl class="dl-horizontal text-left restorant-details">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>


                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.Id)
                        <ul class="list-inline center-content">
                            <li> <input type="submit" value="Delete" class="btn btn-default savebtn" /></li>
                            <li class="anchorstyle"> @Html.ActionLink("Back to List", "Index", new { organisationId = Model.OrganisationId })</li>
                        </ul>
                    }
            </section>
            <aside class="col-md-2 col-md-pull-8"></aside>
            <aside class="col-md-2"></aside>
        </div>
    </div>
</div>