@model IEnumerable<DomainModel.Entities.Restourant>

@{
    ViewBag.Title = "Index";
}

<div class="logbackground">
    <div class="container">
        <div class="transperant">
            <h3 class="anchorstyle center-content">
                @Html.ActionLink("Add New Restourant", "Create", new { organisationId = ViewBag.OrganisationId })
            </h3>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="mobile">Picture</th>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.KitchenId)</th>
                            <th class="mobile">@Html.DisplayNameFor(model => model.UpdatedDate)</th>
                            <th class="change">Changes</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="mobile">
                                    <img class="img-company img-rounded" src="~/Content/images/bgsweet.png.jpg" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Kitchen.Name)
                                </td>
                                <td class="mobile">
                                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                                </td>
                                <td class="change">
                                    @Html.ActionLink("Edit", "Edit", new { restourantId = item.Id }) 
                                    @Html.ActionLink("Details", "Details", new { restourantId = item.Id }) 
                                    @Html.ActionLink("Delete", "Delete", new { restourantId = item.Id })
                                </td>
                            </tr>
                           
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript" src="~/Scripts/geteat/company.js">

    </script>
}
