@model GetEat.WebUI.Models.OrganisationViewModel
@{
    ViewBag.Title = "Edit";
}
<div class="companibkgr">
    <div class="row">
        <section class="col-sm-12 col-md-8 col-md-push-2 text-center center-content">
            <div class="register-form">
                <div class="center-content">
                    <h2 class="text-center center-content head-detailes">Company account</h2>
                    <p class="paragraph">Changing your profile options lets you control how others see you and your profile.</p>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal form-center text-center">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-2  col-md-offset-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "col-md-2 col-md-offset-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "col-md-2 col-md-offset-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <ul class="list-inline">
                                <li ><input class="button-save" type="submit" value="Save" placeholder="Save"/></li>
                                <li class="btn button-back">@Html.ActionLink("Back", "Details", new { id = Model.Id })</li>
                            </ul>
                        </div>
                    </div>

                }

            </div>
        </section>
        <aside class="col-md-2 col-md-pull-8 col-lg-pull-8"></aside>
        <aside class="col-md-2"></aside>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/geteat/company.js"></script>
}



