@model IEnumerable<GetEat.WebUI.Models.RestourantViewModel>
@using GetEat.WebUI.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganisationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicGuidId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganisationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicGuidId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { AreasNames.Companies, Id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { AreasNames.Companies, Id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { AreasNames.Companies, Id = item.Id })
            </td>
        </tr>
    }

</table>
